/*Geral*/
body {
    background-image: url('..//assets/icons/Blue\ background.jpg');
    background-size: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

a{
    text-decoration: none;
    color: black;
}

.logoInicial {
    display: flex;
    justify-content: center;
}

.logoImg {
    width: 200px;
}

.logo {
    text-align: center;
    color: white;
}

.flex {
    display: flex;
}

.espaco {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.header {
    color: white;
    justify-content: space-between;
    display: flex;
    padding: 10px;
}

.logoMenu {
    width: 79px;
}

.cinza {
    background-color: rgb(223, 219, 219);
    border-radius: 30px;
    border: 0px;
    padding: 5px;
    text-align: center;
}

.brancoGeral{
    background-color: white;
    border-radius: 30px;
    border: 0px;
    padding: 15px;
    margin: 15px;
    height: 630px ;
}

.arrastarGeral{
    overflow: scroll;
    scrollbar-width: none;
    height: 629px;
    border-radius: 30px;
}

/*------------------------------------------------------------------*/
/*Loading*/

.loadingTela{
    display: flex;
    justify-content: center;
}

#rotacao{
    width:200px;
    animation:girar 5s linear infinite
}

@keyframes girar {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg); 
  }
}

/*------------------------------------------------------------------*/
/*Alertas Avisos*/
.brancoAlertas {
    background-color: white;
    border-radius: 50px;
    border: 0px;
    padding: 15px;
    text-align: center;
    height: 650px;
}

/*------------------------------------------------------------------*/
/*Cadastro*/

.minicinza {
    border-radius: 50px;
    background-color: rgb(223, 219, 219);
    font-size: 15px;
}

.minicinzaalign {
    text-align: center;
    margin: 15px;
}

.logofuncionario {
    text-align: center;
}

.input{
    border: 0px;
    border-radius: 30px;
    background-color: rgb(223, 219, 219);
    width: 300px;
}

.cinzaCadastro {
    background-color: rgb(223, 219, 219);
    border-radius: 30px;
    border: 0px;
    padding: 5px;
    text-align: left;
}

.img_cadastro {
    width: 200px;
    padding-left: 9px;
}
/*------------------------------------------------------------------*/
/*Cargas*/
.cinzaCargas {
    background-color: rgb(223, 219, 219);
    border-radius: 30px;
    border: 0px;
    padding: 2px;
    height: 100px;
    width: 340px;
}

.arrumadores{
    margin: 5px;
}

.texto {
    margin: 0px;
}

.arrastarCargas {
    height: 593px;
    overflow: scroll;
    scrollbar-width: none;
    border-radius: 25px;
}

/*------------------------------------------------------------------*/
/*Dashboard*/
.Velocimetro {
    width: 300px;
    padding-left: 9px;
}

/*------------------------------------------------------------------*/
/*Esqueci Login*/
.loGin {
    text-align: left;
}

.campo {
    background-color: white;
    border-radius: 50px;
}

.radious {
    border-radius:50px ;
    border: 0px;
    width: 240px;
}

.entrar {
    border-radius: 50px;
    border: 0px;
    text-align: center;
}

.esqueci {
    color: white;
    background-color: initial;
    border: 0px;
}

.erro{
    color: red;
}

/*------------------------------------------------------------------*/
/*Funcionario*/
.branco-funcionario {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    margin: 15px;
}

.cinza_funcionario {
    background-color: rgb(223, 219, 219);
    border-radius: 30px;
    border: 0px;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
}

.arrastar {
    overflow: scroll;
    height: 420px;
    scrollbar-width: none;
}

.imagesFuncionario {
    width: 60px;
}

/*------------------------------------------------------------------*/
/*Manutenção*/
.squarewhite {
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    height: 650px;
    overflow: scroll;
    scrollbar-width: none;
}

.trems {
    display: flex;
}

.selection {
    background-color: rgb(226, 226, 226);
    padding: 20px;
    border-radius: 20px;
    border: solid 1px;
    border-color: rgb(201, 201, 201);
}

.trem {
    border-radius: 20%;
    width: 40%;
    height: 40%;
}

.treminfo {
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.pontosmanutencão {
    display: flex;
    justify-content: end;
    
}

.ponto {
    margin: 2px;
    background-color: grey;
    border-radius: 100%;
    padding: 6px;
}

.status {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.pontoverde {
    margin: 2px;
    background-color: rgb(0, 199, 0);
    border-radius: 100%;
    padding: 10px;
}

.pontoamarelo {
    margin: 2px;
    background-color: yellow;
    border-radius: 100%;
    padding: 10px;
}

.pontovermelho {
    margin: 2px;
    background-color: rgb(255, 14, 14);
    border-radius: 100%;
    padding: 10px;
}

.reporter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: rgb(182, 182, 182);
    border-radius: 20px;
    border: none;
    width: 300px;
    padding: 15px;
    font-weight: bold;
}

/*------------------------------------------------------------------*/
/*Menu*/
#menu_linha {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.menu_centro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrado-branco {
    background-color: white;
    border-radius: 20px;
    width: 120px;
    height: 120px;
    text-align: center;
}

.Tamanho_img {
    width: 80px;
    margin: 5px;
}

.texto {
    margin: 1px;
}

/*------------------------------------------------------------------*/
/*Relatorio*/
.branco {
    background-color: white;
    border-radius: 20px;
    border: 0px;
    padding: 15px;
}

.checkboxRelatorio{
    height: 20px;
    width: 20px;
    margin: 10px;
}

.caixa{
    border: 1px solid;
    border-color: #606060;
    height: 40px;
    display: flex;
    
}

.little{
    width: 20px;
    outline: none;
    border: none;
    margin: 0px;
}

.line {
    width: 100%;
    border-bottom: 1px solid #606060;
  }

  .text{
    margin: 8px;
    font-size: 16px;
  }

  .pontos{
    outline: none;
    border: none;
    font-size: 25px;
    background-color: white;
  }

  .container{
    display: grid;
    place-items: center;
  }
  .dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3d3d3d;
    margin-top: 4px;
    margin: 2px;
  }

  .groupMenu{
    cursor: pointer;
    display: flex;
  }

  .style{
    width: 200px;
    height: 300px;
    background-color: #cccccc;
    margin-top: 340px;
    margin-left: 185px;
    border-radius: 10px;
    position: absolute;
  }

  .frame1{
    visibility: hidden;
    position: absolute;
  }
  
  .frame1 .info{
    font-size: 16px;
    color: black;
    padding: 13px;
    cursor: pointer;
  }

  .frame1 .info:hover{
    background-color: #999999;
  }

  .arrastar2 {
    overflow: scroll;
    height: 600px;
    scrollbar-width: none;
}
/*------------------------------------------------------------------*/
/*Rotas*/
.mapa {
    width: 375px;
}

.brancoRotas {
    background-color: white;
    border-radius: 20px;
    border: 0px;
    padding: 15px;
    text-align: center;
}

.cinzaRotas {
    background-color: rgb(223, 219, 219);
    border-radius: 30px;
    border: 0px;
    padding: 5px;
    text-align: center;
    height: 62px;
    width: 130px;
    margin: 0 auto;
}

/*------------------------------------------------------------------*/