/*Geral*/
body {
    background-image: url('..//assets/icons/Blue\ background.jpg');
    background-size: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.logoImg {
    width: 200px;
}

.logo {
    text-align: center;
    color: white;
}

.flex {
    display: flex;
}

.espaco {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.header {
    color: white;
    justify-content: space-between;
    display: flex;
    padding: 10px;
}

.logoMenu {
    width: 79px;
}

.cinza {
    background-color: rgb(223, 219, 219);
    border-radius: 30px;
    border: 0px;
    padding: 5px;
    text-align: center;
}
/*------------------------------------------------------------------*/
/**/
/*Alertas Avisos*/
.brancoAlertas {
    background-color: white;
    border-radius: 50px;
    border: 0px;
    padding: 15px;
    text-align: center;
    height: 650px;
}

/*------------------------------------------------------------------*/
/*Cadastro*/
.branco_cadastro_1 {
    background-color: white;
    border-radius: 30px;
    border: 0px;
    padding: 15px;
    margin: 15px;
}

.branco_cadastro_2 {
    background-color: white;
    border-radius: 30px;
    border: 0px;
    padding: 30px;
    padding-top: 50px;
    margin: 15px;
}

.img_cadastro {
    width: 200px;
    padding-left: 9px;
}

#minicinza {
    border-radius: 50px;
    background-color: rgb(223, 219, 219);
    font-size: 15px;
}

#minicinzaalign {
    text-align: center;
    margin: 15px;
}

#logofuncionario {
    text-align: center;
}

.text_left {
    text-align: left;
    margin: 5px;
}

/*------------------------------------------------------------------*/
/*Cargas*/
.texto-carga {
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
}

.table,
th,
td {
    text-align: center;
    margin: 10px;
    font-size: x-large;
    border-collapse: collapse;
    border: 1px solid black;
}

.branco-carga {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
}
/*------------------------------------------------------------------*/
/*Dashboard*/
.Velocimetro {
    width: 300px;
    padding-left: 9px;
}
/*------------------------------------------------------------------*/
/*Esqueci Login*/
.loGin {
    text-align: left;
}

.campo {
    background-color: white;
    border-radius: 50px;
}

.radious {
    border: 0px;
    width: 240px;
}

.entrar {
    border-radius: 50px;
    border: 0px;
    text-align: center;
}

.esqueci {
    color: white;
    background-color: initial;
    border: 0px;
}
/*------------------------------------------------------------------*/
/*Funcionario*/
.branco-funcionario {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    margin: 15px;
}

.cinza_funcionario {
    background-color: rgb(223, 219, 219);
    border-radius: 30px;
    border: 0px;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
}

.arrastar {
    overflow: scroll;
    height: 420px;
    scrollbar-width: none;
}
.imagesFuncionario {
    width: 60px;
}
/*------------------------------------------------------------------*/
/*Manutenção*/
.squarewhite {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 650px;
    overflow: scroll;
    scrollbar-width: none;
}

.trems {
    display: flex;
}

.selection {
    background-color: rgb(226, 226, 226);
    padding: 20px;
    border-radius: 20px;
    border: solid 1px;
    border-color: rgb(201, 201, 201);
}

.trem {
    border-radius: 20%;
    width: 40%;
    height: 40%;
}

.treminfo {
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.pontos {
    display: flex;
    justify-content: end;
}

.ponto {
    margin: 2px;
    background-color: grey;
    border-radius: 100%;
    padding: 6px;
}

.status {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.pontoverde {
    margin: 2px;
    background-color: rgb(0, 199, 0);
    border-radius: 100%;
    padding: 10px;
}

.pontoamarelo {
    margin: 2px;
    background-color: yellow;
    border-radius: 100%;
    padding: 10px;
}

.pontovermelho {
    margin: 2px;
    background-color: rgb(255, 14, 14);
    border-radius: 100%;
    padding: 10px;
}

.reporter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: rgb(182, 182, 182);
    border-radius: 20px;
    border: none;
    width: 300px;
    padding: 15px;
    font-weight: bold;
}
/*------------------------------------------------------------------*/
/*Menu*/
#menu_linha {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.quadrado-branco {
    background-color: white;
    border-radius: 20px;
    width: 120px;
    height: 120px;
    text-align: center;
}

.Tamanho_img {
    width: 80px;
    margin: 5px;
}

.texto {
    margin: 1px;
}

/*------------------------------------------------------------------*/
/*Relatorio*/
.branco {
    background-color: white;
    border-radius: 20px;
    border: 0px;
    padding: 15px;
}

.branco3 {
    background-color: white;
    border-radius: 20px;
    border: 0px;
    padding: 15px;
    margin-left: 85px;
}

.branco2 {
    background-color: white;
    border-radius: 20px;
    border: 0px;
    padding: 15px;
    margin-right: 85px;
}
/*------------------------------------------------------------------*/
/*Rotas*/
.mapa {
    width: 375px;
}

.brancoRotas{
    background-color: white;
    border-radius: 20px;
    border: 0px;
    padding: 15px;
    text-align: center;
}

.cinzaRotas{
    background-color: rgb(223, 219, 219);
    border-radius: 30px;
    border: 0px;
    padding: 5px;
    text-align: center;
    height: 62px;
    width: 110px;
    margin: 0 auto;
}
/*------------------------------------------------------------------*/
